In [4]:
first = input('State your name: ')
second = input('State your last name: ')
print('First iteration', first, second)
first = second
second = first
print('Second iteration', first, second)

State your name:  niky
State your last name:  manikandan

First iteration niky manikandan
Second iteration manikandan manikandan

In [5]:
first = input('State your name: ')
second = input('State your last name: ')
print('First iteration', first, second)
temporary = first
first = second
second = temporary
print('Second iteration', first, second)

State your name:  niky
State your last name:  manikandan

First iteration niky manikandan
Second iteration manikandan niky

In [6]:
first = input('State your name: ')
second = input('State your last name: ')
print('First iteration', first, second)
first, second = second, first
print('Second iteration', first, second)

State your name:  niky
State your last name:  manikandan

First iteration niky manikandan
Second iteration manikandan niky

In [8]:
top_cities = ['New York', 'Los Angeles', 'San Diego', 'Chicago']
top_cities[0], top_cities[3] = top_cities[3], top_cities[0]
print(top_cities)

['Chicago', 'Los Angeles', 'San Diego', 'New York']

In [11]:
top_cities = ['New York', 'Los Angeles', 'San Diego', 'Chicago']
top_cities.sort()
print(top_cities)

['Chicago', 'Los Angeles', 'New York', 'San Diego']

In [12]:
random_numbers = [3, 6, 1, 7, 10]
random_numbers.sort()
print(random_numbers)

[1, 3, 6, 7, 10]

In [13]:
random_numbers = [3, 6, 1, 7, 10]
random_numbers.sort(reverse = True)
print(random_numbers)

[10, 7, 6, 3, 1]

In [14]:
top_cities = ['New York', 'Los Angeles', 'San Diego', 'Chicago']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Los Angeles', 'New York', 'San Diego']
['New York', 'Los Angeles', 'San Diego', 'Chicago']